@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

*{
    padding: 0%;
    margin: 0%;
    font-family: 'josefin sans';
    
}
ul{
    list-style: none;
    display: flex;
   
    gap: 30px;
}
nav ul li a:hover{
    color: greenyellow;
}
nav ul li a{
    transition: 0.1s ease-in-out;
}
h2{
    color: whitesmoke;
    font-size: 30px;
}
span{
    color:#FFC300
}
.list li a{
    text-decoration: none;
    font-weight: bold ;
    color:whitesmoke 
}
.nav{
    height: 100vh;
    width: 100vw;
    background-image: url('pexels-sarimphotos-1033729.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;

}
button{
    border: none;
    background:#FFC300 ;
    border-radius: 30px;
    padding:12px 30px ;
    color: black;
    transition:background 0.1s ease-in-out;
}
button:hover{
    
    background: greenyellow;
}
